<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projects_flutter">

    <!-- this must be here if you’ve replaced the template manifest -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="FinFlow"
        >
        …
    </application>
</manifest>
